ul.rc-list { 
    list-style: none;
    margin: 0;
    padding: 0;
}

span.sailor {
    padding: 0.2em;
    border-radius: 0.3em;
}

.selected {
    background-color: hsl(204, 70%, 75%);
}

table.race-rankings thead {
    background-color: hsl(219, 70%, 96%);
}

.dropout {
    background-color: hsl(10,70%,90%);
}

.header-link {
    font-size: small;
    font-weight: normal;
    vertical-align: baseline;
    margin-left: 1em;
}

